@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font: 'Press Start 2p', cursive;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font      : var(--font);
}

body {
  background           : linear-gradient(45deg, rgb(248, 141, 248) 0 50%, rgb(248, 141, 200) 60% 100%);
  background-attachment: fixed;
  color                : #fff;
}

header {
  width          : 100vw;
  height         : 20vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

h1 {
  font-weight: bold;
  font-size  : 1.7rem;
  font-family: var(--font);
}

h1 a {
  text-decoration: none;
  color          : #fff;
}

main {
  position       : relative;
  margin         : 35px auto;
  width          : 97vw;
  min-width      : 300px;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: center;
  text-align     : center;
}

.card {
  height       : 300px;
  width        : 200px;
  margin       : 12px;
  border-radius: 5px;
  border       : 2px solid #777;
  font-weight  : bold;
  list-style   : 1.2rem;
  padding      : 15px 5px;
  cursor       : pointer;
  transition   : transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-10px);
}

.card-subtitle {
  margin-top : 15px;
  font-weight: normal;
}

.grass,
.bug {
  background-color: lightgreen;
  color           : #000;
}

.fire,
.dragon {
  background-color: rgb(200, 50, 50);
}

.normal {
  background-color: #fff;
  color           : #000;
}

.electric {
  background-color: gold
}

.water,
.ice {
  background-color: lightblue;
}

.poison,
.psychic,
.ghost {
  background-color: purple;
}

.rock {
  background-color: darkgray;
}

.fighting {
  background-color: orange;
}

.ground {
  background-color: rgba(133, 50, 50, 0.63);
}

.card-title::first-letter {
  text-transform: uppercase;
}

.fairy {
  background-color: rgb(214, 42, 177)
}

#loading-screen {
  font-size: 1rem;
}