@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font: 'Press Start 2p', cursive;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  background           : linear-gradient(45deg, rgb(248, 141, 248) 0 50%, rgb(248, 141, 200) 60% 100%);
  background-attachment: fixed;
  color                : #fff;
}

header {
  width          : 100vw;
  height         : 20vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

h1 {
  font-weight: bold;
  font-size  : 1.7rem;
  font-family: var(--font);
}

h1 a {
  text-decoration: none;
  color          : #fff;
}

main {
  position       : relative;
  margin         : 35px auto;
  width          : 97vw;
  min-width      : 300px;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: center;
  text-align     : center;
}

.card {
  height: 300px;
  width : 200px;
}

.card-title::first-letter {
  text-transform: uppercase;
}

#loading-screen {
  font-size: 1rem;
}